@import 'tailwindcss';

@font-face {
  font-family: 'Radley';
  src: url('../public/fonts/Radley-Regular.ttf');
}

@theme inline {
  --font-display: 'Inter', serif;
  --font-body: 'Inter', sans-serif;
  --font-brand: 'Inter', sans-serif;
  --color-primary: #84c8d1;
  --color-primary-dark: #3b838c;
  --color-background1: #1e1e1e;
  --color-background2: #2e2e2e;
  --color-background3: #383838;
  --color-background4: #373737;
  --color-background5: #ebebeb;
  --color-background-input: var(--background-input);
  --color-actionPrimaryBackground: var(--actionPrimaryBackground);
  --color-actionPrimaryBackgroundHover: var(--actionPrimaryBackgroundHover);
  --color-actionPrimaryText: var(--actionPrimaryText);
  --color-actionPrimaryTextHover: var(--actionPrimaryTextHover);
  --color-actionSecondaryBackground: var(--actionSecondaryBackground);
  --color-actionSecondaryBackgroundHover: var(--actionSecondaryBackgroundHover);
  --color-actionSecondaryText: var(--actionSecondaryText);
  --color-actionSecondaryTextHover: var(--actionSecondaryTextHover);
  --color-boxShadows-action-secondary: var(--boxShadows-action-secondary);
  --color-border1: var(--border1);
  --color-border2: var(--border2);
  --color-border3: var(--border3);
  --color-text1: var(--text1);
  --color-text2: var(--text2);
  --color-text3: var(--text3);
}
